<!DOCTYPE html>
<html>
<head>
    <title>Greet <%= @name1 %></title>
    <link href='bootstrap/css/bootstrap.css' rel='stylesheet'>
        <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class='container'> 
    <h1><%= @name1.capitalize %>, you are <%= @adjective%>!</h1>
    <h3> -- <%=@name2.capitalize%> </h3>

</body>
</html>