<!DOCTYPE html>
<html>
<head>
    <title>Greet <%= @name1 %></title>
    <link href='bootstrap/css/bootstrap.css' rel='stylesheet'>
        <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class='container'> 
    <h1><%= @name1.capitalize %>, you are <%= @adjective%>!</h1>
    <h3> -- <%=@name2.capitalize%> </h3>

    <p> </p>

           
<h2 class="account"> Create an account </h2>
<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe"
style="display:none;" onload="if(submitted)
{window.location='thanks.html';}"></iframe>



<p>What is your name?</p>
<input type="text" name="entry.3194525" value="" class="ss-q-short" id="entry_3194525" dir="auto">


<p>What is you email?</p>
<input type="text" name="entry.1213096385" value="" class="ss-q-short" id="entry_1213096385" dir="auto">

</body>
</html>  