<!DOCTYPE html>
<html>
<head>
    <title>You are...</title>
    <link href='bootstrap/css/bootstrap.css' rel='stylesheet'>
        <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1>Looking good! </h1>
</body>
</html>